#storage{
    background-color: lightgray;
}
.card-header{
    font-weight: bold;
}

label {
    font-weight: bold;
}
<<<<<<< HEAD

=======
>>>>>>> de5e546cc87738374a05dc8814bf92206be8041b
.jumbotron {

    background: black;
    color: white;
    text-align: center;
    align-content: center;
}